:root {
  --primary: #6750A4;
  --on-primary: #FFFFFF;
  --light-primary:#D0BCFF;
  --background: #FEF7FF;
  --primary-container: #EADDFF;
  --secondary-container: #E8DEF8;
  --outline-variant: #CAC4D0;
  --outline: #79747E;
  --border: 1px solid #79747E;;
  --border-variant: 1px solid #CAC4D0;
  --input-border-radius: 4px;
  --button-border-radius: 100px;
  --search-field-radius: 28px;
  --game-description: 12px;
  --on-surface: #1D1B20;
  --on-surface-inactive: #1D1B201A;
  --on-surface-variant: #49454F;
  --surface-container: #ECE6F0
}

